{% extends 'layout.html' %}

{% block  title %} More {% endblock %}
{% block body %}
    <div id="wrapper" class="container-fluid">
        <main class="row">
            <div class="col-md-10 mx-auto">
                <h3> Le chiffrement AES-256</h3>
                <div class="">
                    <h4>Origine</h4>
                    <p>AES est un algorithme <a href="#">symétrique</a> de <a href="#">chiffrement par blocs</a> utilisé
                        dans le monde entier sur des
                        supports matériels et logiciels pour protéger les données sensibles</p>
                    <p>AES est né en 1997 à l'appel du National Institute of Standards and Technology (NIST), qui
                        cherchait
                        un successeur à l'algorithme Data Encryption Standard (DES), vieillissant et de plus en plus
                        vulnérable aux attaques par force brute.

                        Ce nouvel algorithme de chiffrement devait être non couvert par le secret défense et « capable
                        de
                        protéger les informations confidentielles du gouvernement pendant une bonne partie du prochain
                        siècle ».

                        Simple à implémenter dans des matériels et logiciels, ainsi que dans des environnements
                        contraints
                        (par exemple, une carte à puce), il devait également assurer une solide défense contre des
                        attaques
                        faisant appel à différentes techniques.</p>
                </div>
                <div class="">
                    <h4>Definitive standards</h4>
                    <p>
                        The Advanced Encryption Standard (AES) is defined in each of:
                    <ul>
                        <li> FIPS PUB 197: Advanced Encryption Standard
                        </li>
                        <li> ISO/IEC 18033-3:: Block ciphers</li>
                    </ul>
                    </p>
                </div>
                <div class="">
                    <h4>Description of the ciphers</h4>
                </div>
            </div>
        </main>
    </div>
{% endblock %}